body {
    background: #E0FFFF; 
}

.menu{
    list-style-type: none;
    margin-left: 0;
    font-size: 20pt;
}

.menu li{
    display: inline;
    margin-right: 20px;
    border: 4px; 
    background: #87CEFA;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.menu li:hover{
    background: #00FFFF;
}
a{
    text-decoration: none;
}

h1{
    margin-left: 35px;
    font-size: 40pt;
}
.flag img{
    width: 400px;
    height: 300px;
}
.flag img{
    float: right;
}
.description{
    font-size: 15pt;
}
h2{
    font-size: 35pt;
    text-align: center;
    margin-top: 100px;
}
.video{
    float: right;
}
.photo img{
    width: 350px;
    height: 280px;
    margin-left: 66px;
    margin-top: 50px;
}
.loc{
    font-size: 15pt;
}
.nplope img{
    float: right;
    width: 450px;
    height: 310px;
    margin-left: 8px;
}
.nplope {
    font-size: 15pt;
}
.nploango img{
    float: left;
    width: 450px;
    height: 350px;
    margin-right: 8px;
}
.nploango {
    font-size: 15pt;
}
.npakanda img{
    float: right;
    width: 450px;
    height: 350px;
    margin-left: 8px;
}
.npakanda {
    font-size: 15pt;
}